/*@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');*/
#coin {
    background: #1f1f1f;
    box-shadow: 0 0 10px 0 black;
}

#opp {
    background: #454545;
}

.VertransbyNick{
    background-color: #00ad5f;
    color: #222;
    font-size: 20px;
    
    padding: 10px;
    border-radius: 15px;
    border-style: solid;
    border-width: 0px;



}

.columna1 {
    width: 25%;
}

.columna2 {
    width: 10%;
}

.columna3 {
    width: 25%;
}

.columna4 {
    width: 25%;
}

.columna5 {
    width: 15%;
}
