#coin {
    background: #454545;
    color: white;
}

#opp {
    box-shadow: 0 0 15px 0 black;
    color: white;
    background: #1f1f1f;
}

.columna1 {
    width: 30%;
}

.columna2 {
    width: 10%;
}

.columna3 {
    width: 10%;
}

.columna4 {
    width: 10%;
}

.columna5 {
    width: 30%;
}